.maxthermodevice .button-control {
  display: inline-block;
  float: right;
  max-width: 100%;
  margin: 0;
}

.maxthermodevice .temperature{
  display: inline-block;
  float: right;
  max-width: 100%;
  margin: 0;
}

input[type="number"] {
   width:50px;
}

#index li.maxthermodevice .shutter-buttons {
  float: right;
  max-width: 100%;
  margin: 0;
  display: inline-block;
}

.ui-btn-inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: .625em;
}

.maxthermodevice .unit {
  color: #888888;
  margin-left: 0.1em;
}