<script id="MaxThermostatDevice-template" type="text/template">
  <li class="sortable device no-header">
    <label data-bind="text: name" class="device-label"></label>
    <a data-bind="jqmbutton: {text: text}, click: tempPlus" class="ui-btn ui-mini ui-btn-inline ui-corner-all"></a>
  </li>
</script>